Problem 1

How to import pandas and check the version?

In [20]:
import pandas as pd
print(pd.__version__)

1.4.2

Problem 2

Create a pandas series from each of the items below: a list, numpy and a dictionary

Input

```
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
```

In [22]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
mylist_series = pd.Series(mylist)
myarr_series = pd.Series(myarr)
mydict_series = pd.Series(mydict)
print(mylist_series)
print(myarr_series)
print(mydict_series)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

Problem 3

Convert the series ser into a dataframe with its index as another column on the dataframe.

Input

```
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
```

In [23]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
ser.to_frame().reset_index()

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

Problem 4

Combine ser1 and ser2 to form a dataframe.

Input:

```
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
```

In [19]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
pd.concat([ser1, ser2])

0      a
1      b
2      c
3      e
4      d
5      f
6      g
7      h
8      i
9      j
10     k
11     l
12     m
13     n
14     o
15     p
16     q
17     r
18     s
19     t
20     u
21     v
22     w
23     x
24     y
25     z
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: object

Problem 5

Get all items of ser1 and ser2 not common to both.

Input

```
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
```

In [34]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# difference of the union of both series with the intersection of both series

series_union = pd.Series(np.union1d(ser1, ser2))
series_intersection = pd.Series(np.intersect1d(ser1, ser2))

series_difference = series_union[~series_union.isin(series_intersection)]

series_difference

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

Problem 6

Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

Input

```
ser = pd.Series(np.random.normal(10, 5, 25))

```

In [35]:
ser = pd.Series(np.random.normal(10, 5, 25))

np.percentile(ser, q = [0, 25, 50, 75, 100])

array([ 4.0364285 ,  7.51629154, 11.36619222, 14.55275414, 20.46318027])

Problem 7

Calculte the frequency counts of each unique value ser.

Input

```
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
```

In [37]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

g    7
h    6
e    5
b    4
f    3
a    3
d    2
dtype: int64

Problem 8

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

Input

```

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
```

In [51]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ele_freq = ser.value_counts()
ser[~ser.isin(ele_freq.index[:2])] = "Other"
ser

0         2
1         4
2         2
3         2
4         4
5         2
6     Other
7     Other
8         4
9     Other
10    Other
11        4
dtype: object

Problem 9

Bin the series ser into 10 equal deciles and replace the values with the bin name.

Input
```
ser = pd.Series(np.random.random(20))
```
Desired Output

```
# First 5 items
0    7th
1    9th
2    7th
3    3rd
4    8th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]
```

In [67]:
ser = pd.Series(np.random.random(20))

bins_in_ser = pd.qcut(ser,
        q = [0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1],
        labels = ['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th'])
print("# First 5 items")
print(bins_in_ser.head())

# First 5 items
0    5th
1    1st
2    7th
3    8th
4    1st
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

Problem 10

Reshape the series ser into a dataframe with 7 rows and 5 columns

Input

```
ser = pd.Series(np.random.randint(1, 10, 35))
```

In [72]:
ser = pd.Series(np.random.randint(1, 10, 35))
data_frame = pd.DataFrame(ser.values.reshape(7, 5))
data_frame

   0  1  2  3  4
0  1  9  1  9  7
1  4  7  4  7  9
2  4  8  4  7  3
3  1  7  4  8  1
4  3  2  5  8  9
5  7  8  6  5  8
6  5  1  9  4  1

Problem 11 

Find the positions of numbers that are multiples of 3 from ser.

Input

```
ser = pd.Series(np.random.randint(1, 10, 7))
```

In [78]:
ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)
np.where(ser % 3 == 0)

0    3
1    2
2    1
3    9
4    9
5    6
6    2
dtype: int32

(array([0, 3, 4, 5], dtype=int64),)

Problem 12

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

Input

```
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
```

In [86]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# Displaying both series to observe the difference when both ser1 and ser2 are stacked vertically 
# and horizontally to form a dataframe.
print(ser1)
print(ser2)

# Vertical Stacking
vert_df = pd.concat([ser1, ser2], axis = 0)
print(vert_df)

# Horizontal Stacking
vert_df = pd.concat([ser1, ser2], axis = 1)
print(vert_df)

0    0
1    1
2    2
3    3
4    4
dtype: int64
0    a
1    b
2    c
3    d
4    e
dtype: object
0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

Problem 13

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

Input
```
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
```

In [87]:
# Question # 13 Looks like a repeat of Question # 12.

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# Displaying both series to observe the difference when both ser1 and ser2 are stacked vertically 
# and horizontally to form a dataframe.
print(ser1)
print(ser2)

# Vertical Stacking
vert_df = pd.concat([ser1, ser2], axis = 0)
print(vert_df)

# Horizontal Stacking
vert_df = pd.concat([ser1, ser2], axis = 1)
print(vert_df)

0    0
1    1
2    2
3    3
4    4
dtype: int64
0    a
1    b
2    c
3    d
4    e
dtype: object
0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

Problem 14


Get the day of month, week number, day of year and day of week from ser.

Input
```
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
```
Desired output
```
Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']
```

In [99]:
from datetime import datetime
from dateutil.parser import parse

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

ser_TimeStamp = pd.to_datetime(ser)

# day of month
print("Date: ", ser_TimeStamp.dt.day.tolist())

# week number
print("Week number: ", ser_TimeStamp.dt.isocalendar().week.tolist())

# day of year
print("Day number of year: ", ser_TimeStamp.dt.dayofyear.tolist())

# day of week
print("Day of week: ", ser_TimeStamp.dt.weekday_name.tolist())

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day number of year:  [1, 33, 63, 94, 125, 157]

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

Problem 15

From ser, extract words that contain atleast 2 vowels.

Input
```
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
```

Desired Output
```
0     Apple
1    Orange
4     Money
dtype: object
```

In [101]:
from collections import Counter

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

Problem 16


Check if df has any missing values.

Input

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [105]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df.isnull().values.any()

True

Problem 17

Count the number of missing values in each column of df. Which column has the maximum number of missing values?

Input
```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [119]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df_missingValue_each_col = df.apply(lambda x: x.isnull().sum())
print(f"Number of missing values in each column of df: \n", df_missingValue_each_col)
print(f"\n\nColumn having maximum missing values: \n", df_missingValue_each_col.argmax())

Number of missing values in each column of df:
 Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64


Column having maximum missing values:
 23

Problem 18

Replace missing values in Min.Price and Max.Price columns with their respective mean.

Input

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [120]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df_out = df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x: x.fillna(x.mean()))

print(df_out.head())

   Min.Price  Max.Price
0  12.900000  18.800000
1  29.200000  38.700000
2  25.900000  32.300000
3  17.118605  44.600000
4  17.118605  21.459091

Problem 19

In df, use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.

Input

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

```

In [125]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

d = {'Min.Price': np.nanmean, 'Max.Price': np.nanmedian}
df[['Min.Price', 'Max.Price']] = \
    df[['Min.Price', 'Max.Price']].apply(
        lambda x, d: x.fillna(d[x.name](x)), args=(d, ))
df[['Min.Price', 'Max.Price']]

    Min.Price  Max.Price
0   12.900000      18.80
1   29.200000      38.70
2   25.900000      32.30
3   17.118605      44.60
4   17.118605      19.15
..        ...        ...
88  16.600000      22.70
89  17.600000      22.40
90  22.900000      23.70
91  21.800000      23.50
92  24.800000      28.50

[93 rows x 2 columns]

Problem 20

Get the first column (a) in df as a dataframe (rather than as a Series).

Input

```
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
```

In [135]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

print(f"Original Data Frame is:\n", df.head())

d1 = df[["a"]]
type(d1)

d2 = df.loc[:,["a"]]
type(d2)

d3 = df.iloc[:,[0]]
type(d3)

Original Data Frame is:
     a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

pandas.core.frame.DataFrame

Problem 21

1 - In df, interchange columns 'a' and 'c'.

2 - Create a generic function to interchange two columns, without hardcoding column names.

3 - Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

Input

```

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
```

In [160]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

#     a. Interchange columns 'a' and 'c':
print(f"Data Frame after interchanging columns 'a' and 'c':\n", df[list('cbade')])

#     b. Generic function to interchange two columns, without hardcoding column names.
def interchange_columns(df, col1 = None, col2 = None):
    col_names = df.columns.tolist()
    i1, i2 = col_names.index(col1), col_names.index(col2)
    col_names[i2], col_names[i1] = col_names[i1], col_names[i2]
    return df[col_names]

df1 = interchange_columns(df, 'e', 'c')
print(f"\n\nAfter creating a generic function to interchange two columns, without hardcoding column names:\n", df1)

#     c. Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.
df.sort_index(axis=1, ascending=False, inplace=True)
print(f"\n\nAfter sorting the columns in reverse alphabetical order:\n", df.head())

Data Frame after interchanging columns 'a' and 'c':
     c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19


After creating a generic function to interchange two columns, without hardcoding column names:
     a   b   e   d   c
0   0   1   4   3   2
1   5   6   9   8   7
2  10  11  14  13  12
3  15  16  19  18  17


After sorting the columns in reverse alphabetical order:
     e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

Problem 22

From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

Input

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [163]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

Problem 23 

Find the row position of the 5th largest value of column 'a' in df.

Input

```
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))
```

In [179]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

df['a'].argsort()[::-1][5]

5

Problem 24 

In ser, find the position of the 2nd largest value greater than the mean.

Input
```
ser = pd.Series(np.random.randint(1, 100, 15))
```

In [206]:
import numpy as np

ser = pd.Series(np.random.randint(1, 100, 15))

print('ser: ', ser.tolist(), 'mean: ', round(ser.mean()))
np.argwhere(ser > ser.mean())[1]

ser:  [7, 96, 27, 89, 27, 48, 42, 25, 12, 1, 30, 94, 68, 4, 66] mean:  42

ValueError: Length of values (1) does not match length of index (15)

Problem 25


Get one-hot encodings for column 'a' in the dataframe df and append it as columns.

Input

```
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
```
Output

```
   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24
```

In [204]:
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))
df_onehot = pd.concat([pd.get_dummies(df['a']), df[list('bcde')]], axis=1)
df_onehot

   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24