# Pandas
    - Data Analysis Library
    - Series - Single Dimension 
    - Dataframe - Multi Dimension

In [1]:
import pandas as pd

## Series
    - gives indexing to the matrix elements

In [7]:
s1 = pd.Series([1, 2, 3, 4])
s1

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
type(s1)

pandas.core.series.Series

In [9]:
print(s1)

0    1
1    2
2    3
3    4
dtype: int64

In [10]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
s1.values

array([1, 2, 3, 4], dtype=int64)

In [12]:
s1.index = ["one", "two", "three", "four"]

In [13]:
print(s1)

one      1
two      2
three    3
four     4
dtype: int64

In [15]:
s1["one"]

1

In [16]:
s1["two"]

2

In [18]:
s1[0] 
# Actual index is still working

1

In [30]:
s2 = pd.Series([22, 33, 44, 55, 100], index = ["apples", "oranges", "bananas", "guavas", "two"])

In [31]:
s2

apples      22
oranges     33
bananas     44
guavas      55
two        100
dtype: int64

In [32]:
s2["apples"]

22

In [33]:
s2[0]

22

In [34]:
 print(s2)

apples      22
oranges     33
bananas     44
guavas      55
two        100
dtype: int64

In [35]:
s2.index

Index(['apples', 'oranges', 'bananas', 'guavas', 'two'], dtype='object')

In [36]:
s1 * 10

one      100
two      200
three    300
four     400
dtype: int64

In [37]:
s1 = s1 * 10

In [38]:
s1

one      100
two      200
three    300
four     400
dtype: int64

In [39]:
s1 + s2
# won't add untill the index name is same
# index name alignment

apples       NaN
bananas      NaN
four         NaN
guavas       NaN
one          NaN
oranges      NaN
three        NaN
two        300.0
dtype: float64

In [46]:
s3 = pd.Series(range(10))
s3

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [45]:
s4 = pd.Series(range(10, 20))
s4

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [47]:
s3 + s4

0    10
1    12
2    14
3    16
4    18
5    20
6    22
7    24
8    26
9    28
dtype: int64