# w3schools

In [3]:
"""What is a correct syntax to create a Pandas Series from a Python list?

pd.Series(my_list)

"""

'What is a correct syntax to create a Pandas Series from a Python list?\n\npd.Series(my_list)\n\n'

In [6]:
"""
What is a correct syntax to return the first value of a Pandas Series?

myseries[0]
"""

'\nWhat is a correct syntax to return the first value of a Pandas Series?\n\nmyseries[0]\n'

In [7]:
"""
The correct syntax to add labels "x", "y", and "z" to a pandas series is option 2: pd.Series(mylist, index=["X", "Y", "Z"]).
"""

'\nThe correct syntax to add labels "x", "y", and "z" to a pandas series is option 2: pd.Series(mylist, index=["X", "Y", "Z"]).\n'

In [8]:
"""
What is a correct syntax to create a Pandas DataFrame?

pd.DataFrame(data)
"""

'\nWhat is a correct syntax to create a Pandas DataFrame?\n\npd.DataFrame(data)\n'

In [9]:
"""

What is a correct syntax to return the first row in a Pandas DataFrame?

df.loc[0]

"""

'\n\nWhat is a correct syntax to return the first row in a Pandas DataFrame?\n\n\n\n'

In [10]:
"""

What is a correct syntax to return both the first row and the second row in a Pandas DataFrame?

df.loc[[0, 1]]

"""

'\n\nWhat is a correct syntax to return both the first row and the second row in a Pandas DataFrame?\n\ndf.loc[[0, 1]]\n\n'

In [12]:
"""What is a correct syntax to return the entire DataFrame

df.to_string()"""

'What is a correct syntax to return the entire DataFrame\n\ndf.to_string()'

In [4]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

print(myvar[0])

0    1
1    7
2    2
dtype: int64
1

In [5]:
myvar[0]

1