In [2]:
data = """
Name:           Nadeem Hussain
Father's Name:  Abdul Fattah
AIC Batch:      36 - 37
"""
print(data)

Name:           Nadeem Hussain
Father's Name:  Abdul Fattah
AIC Batch:      36 - 37

In [4]:
data

"\nName:           Nadeem Hussain\nFather's Name:  Abdul Fattah\nAIC Batch:      36 - 37\n"

In [5]:
nadeem = "dil dil" # variable shows the value stored in it without needing it to be displayed using the print() function.
nadeem

'dil dil'

In [9]:
"a"
'b'
"c" # Jupyter notebook returns the last line

'c'

In [8]:
print("c")

c

# Concatenation (combining two values or variables) & Text Formatting

In [10]:
name = "Nadeem Hussain"
father_name = "Abdul Fattah"
education = "ME Petroleum Engineering"
designation = "AI Engineer Oil And Gas"

print(name, father_name, education, designation, sep="\n")

Nadeem Hussain
Abdul Fattah
ME Petroleum Engineering
AI Engineer Oil And Gas

In [11]:
print("a")
print('b')

a
b

In [13]:
name = "Nadeem Hussain"
father_name = "Abdul Fattah"
education = "ME Petroleum Engineering"
designation = "AI Engineer Oil And Gas"

print(name, father_name, education, designation, end="\n")

Nadeem Hussain Abdul Fattah ME Petroleum Engineering AI Engineer Oil And Gas

In [18]:
name = "Nadeem Hussain"
father_name = "Abdul Fattah"
education = "ME Petroleum Engineering"
designation = "AI Engineer Oil And Gas"
height = 5.5

# + operator on the string joins two strings
result = "PIAIC Teacher Card\nName: " + name + "\nFather's Name: " + father_name + "\nEducation: " + education + "\nDesignation: " + designation + "\nHeight: " + str(height)

print(result)

PIAIC Teacher Card
Name: Nadeem Hussain
Father's Name: Abdul Fattah
Education: ME Petroleum Engineering
Designation: AI Engineer Oil And Gas
Height: 5.5

In [19]:
name = "Nadeem Hussain"
father_name = "Abdul Fattah"
education = "ME Petroleum Engineering"
designation = "AI Engineer Oil And Gas"
height = 5.5

data = """
PIAIC Teacher Card
Name: {}
Father's Name: {}
Education: {}
Designation: {}
Height: {}
""".format(name, father_name, education, designation, height)

print(data)

PIAIC Teacher Card
Name: Nadeem Hussain
Father's Name: Abdul Fattah
Education: ME Petroleum Engineering
Designation: AI Engineer Oil And Gas
Height: 5.5

In [21]:
name = "Nadeem Hussain"
father_name = "Abdul Fattah"
education = "ME Petroleum Engineering"
designation = "AI Engineer Oil And Gas"
height = 5.5

data = """
PIAIC Teacher Card
Name: {}
Father's Name: {}
Education: {}
Designation: {}
Height: {}
""".format(father_name, height, education, designation, name)

print(data)

PIAIC Teacher Card
Name: Abdul Fattah
Father's Name: 5.5
Education: ME Petroleum Engineering
Designation: AI Engineer Oil And Gas
Height: Nadeem Hussain

In [22]:
name = "Nadeem Hussain"
father_name = "Abdul Fattah"
education = "ME Petroleum Engineering"
designation = "AI Engineer Oil And Gas"
height = 5.5

data = """
PIAIC Teacher Card
Name: {4}
Father's Name: {0}
Education: {2}
Designation: {3}
Height: {1}
""".format(father_name, height, education, designation, name)

print(data)

PIAIC Teacher Card
Name: Nadeem Hussain
Father's Name: Abdul Fattah
Education: ME Petroleum Engineering
Designation: AI Engineer Oil And Gas
Height: 5.5

In [23]:
name = "Nadeem Hussain"
father_name = "Abdul Fattah"
education = "ME Petroleum Engineering"
designation = "AI Engineer Oil And Gas"
height = 5.5

data = f"""
PIAIC Teacher Card
Name: {name}
Father's Name: {father_name}
Education: {education}
Designation: {designation}
Height: {height}
"""

print(data)

PIAIC Teacher Card
Name: Nadeem Hussain
Father's Name: Abdul Fattah
Education: ME Petroleum Engineering
Designation: AI Engineer Oil And Gas
Height: 5.5

In [24]:
name = input("Enter your Full Name: ")
father_name = input("Enter Full Name of your father: ")
education = input("Enter your education or qualification: ")
designation = input("Enter your designation: ")
height = float(input("Enter your height: "))

data = f"""
PIAIC Teacher Card
Name: {name}
Father's Name: {father_name}
Education: {education}
Designation: {designation}
Height: {height}
"""

print(data)

Enter your Full Name: Nadeem Hussain Koondhar
Enter Full Name of your father: Abdul Fattah Koondhar
Enter your education or qualification: ME Petroleum Engineering
Enter your designation: AI Engineer Oil & Gas division
Enter your height: 5.6

PIAIC Teacher Card
Name: Nadeem Hussain Koondhar
Father's Name: Abdul Fattah Koondhar
Education: ME Petroleum Engineering
Designation: AI Engineer Oil & Gas division
Height: 5.6

# String Methods

In [25]:
data

"\nPIAIC Teacher Card\nName: Nadeem Hussain Koondhar\nFather's Name: Abdul Fattah Koondhar\nEducation: ME Petroleum Engineering\nDesignation: AI Engineer Oil & Gas division\nHeight: 5.6\n"

In [26]:
name = "nadeem hussain"
print(name.capitalize())

Nadeem hussain

In [27]:
name = "nadeem hussain"
print(name.title())

Nadeem Hussain

In [29]:
name = "Muhammad Qasim"
print()
name.casefold() == "muHamMad QaSIM".casefold()

True

In [35]:
name.center(120)

'                                                     Muhammad Qasim                                                     '

In [36]:
print(name.count("Qasim"))
print(name.count("a"))

1
3

In [37]:
name.encode("utf-16")

b'\xff\xfeM\x00u\x00h\x00a\x00m\x00m\x00a\x00d\x00 \x00Q\x00a\x00s\x00i\x00m\x00'

In [38]:
print(name.encode("utf-16"))

b'\xff\xfeM\x00u\x00h\x00a\x00m\x00m\x00a\x00d\x00 \x00Q\x00a\x00s\x00i\x00m\x00'

In [39]:
name.encode("utf-8")

b'Muhammad Qasim'

In [40]:
name = "Muhammad Qasim"
name.endswith("sim")

True

In [41]:
name = "Muhammad Qasim"
name.startswith("Muh")

True

In [43]:
data = """
PIAIC Teacher Card
Name: Qasim
Father's Name: Aslam
Education: MS
"""

In [45]:
print(data.expandtabs(20))

PIAIC Teacher Card
Name: Qasim
Father's Name: Aslam
Education: MS

In [46]:
name = "Muhammad Qasim"
name.expandtabs

In [47]:
name.find("Qa")

9

In [48]:
name.find("a")

3

In [50]:
name.find("d q") # means character being looked for is not in the string

-1

In [51]:
name.find("a", 4)

6

In [55]:
print(name.find("a"))
print(name.find("a", 4))
print(name.find("a", 7))
print(name.find("a", 11))

3
6
10
-1

In [56]:
name = "Muhammad Qasim"
name[:5]

'Muham'

In [ ]:
name = "Muhammad Qasim"
name.format_map()

In [60]:
record = {"x": "Qasim",
         "y": "Aslam"}

print("Name: {x} \nFather's Name: {y}".format_map(record))

Name: Qasim
Father's Name: Aslam

In [61]:
name.index("a")

3

In [71]:
name = "Muhammad"

In [72]:
name.isalnum()

True

In [73]:
name = "Muhammad1"

In [74]:
name.isalpha()

False

In [75]:
name = "Muhammad"
name.isascii()

True

In [76]:
name = "ڈیلی میل"
name.isascii()

False

In [77]:
name = "ڈیلی میل"
name.isdecimal()

False

In [78]:
name = "1"
name.isdecimal()

True

In [ ]:
name = "     Qasim     "
print