# List & Tuple

In [1]:
# - List Mutable
# - Tuple immutable.

In [3]:
# index   0        1        2      3         4
names = ["Qasim", "Nasir", "Ali", "Hamza", "Manzoor"]
# -ve index   -5        -4     -3      -2      -1

In [5]:
print(names)
print(names[3]) # extracts value with +ve index
print(names[-2]) # extracts value with -ve index

['Qasim', 'Nasir', 'Ali', 'Hamza', 'Manzoor']
Hamza
Hamza

In [10]:
# index   0        1        2      3         4
names = ["Qasim", "Nasir", "Ali", "Hamza", "Manzoor"]
# -ve index   -5        -4     -3      -2      -1

print("Before", names)

names[0] = "Muhammad Qasim" # updated value with +ve index

print("Before", names)

Before ['Qasim', 'Nasir', 'Ali', 'Hamza', 'Manzoor']
Before ['Muhammad Qasim', 'Nasir', 'Ali', 'Hamza', 'Manzoor']

['Muhammad Qasim', 'Nasir', 'Ali', 'Hamza', 'Manzoor']
['Muhammad Qasim', 'Nasir', 'Ali', 'Hamza', 'Manzoor']

In [ ]:
# extracting multiple values
# list[start_index:end_index]
# it is called Slicing
# start index included, end index excluded

In [12]:
# index   0        1        2      3         4
names = ["Qasim", "Nasir", "Ali", "Hamza", "Manzoor"]
# -ve index   -5        -4     -3      -2      -1

print(names[1:3])
print(names[1:4])

['Nasir', 'Ali']
['Nasir', 'Ali', 'Hamza']

In [13]:
names = ["Qasim", "Nasir", "Ali", "Hamza", "Manzoor"]

In [14]:
names

['Qasim', 'Nasir', 'Ali', 'Hamza', 'Manzoor']

In [ ]:
# list[start_index:end_index:sequence]

In [15]:
# index   0        1        2      3         4
names = ["Qasim", "Nasir", "Ali", "Hamza", "Manzoor"]
# -ve index   -5        -4     -3      -2      -1

In [35]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
print(numbers)
print(numbers[7:16])
print(numbers[7:])
print(numbers[:16])
print(numbers[7::])
print(numbers[7::2])
print(numbers[::3])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[8, 9, 10, 11, 12, 13, 14, 15, 16]
[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[8, 10, 12, 14, 16, 18, 20]
[1, 4, 7, 10, 13, 16, 19]

In [36]:
print(numbers[::-3]) # picking elements right to left
print(numbers[0:10:])
print(numbers[0:10:-1]) # not picking up any value as index is L to R while seq is R to L.
print(numbers[-1:-21:-1]) # now showing reverse data.
print(numbers[10:20:-1])
print(numbers[-11:-21:-1])
print(numbers[16:14:-1])

[20, 17, 14, 11, 8, 5, 2]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[17, 16]

In [39]:
print(numbers[3:0:-1])
print(numbers[-17:-20:-1])

[4, 3, 2]
[4, 3, 2]

In [41]:
l1 = ["1", "2", "3"]
l2 = l1.copy()

print(l1)
print(l2)

['1', '2', '3']
['1', '2', '3']

In [42]:
l1[0] = "ABC"

In [44]:
print(l1)
print(l2)

['ABC', '2', '3']
['1', '2', '3']

In [46]:
names
names[0] = "Muhammad Qasim"
names[4] = "Muhammad Qasim"
names

['Muhammad Qasim', 'Nasir', 'Ali', 'Hamza', 'Muhammad Qasim']

In [48]:
l1 = ["1", "2", "3"]
l1 = l2 = l3 = l4 # nick names = shallow copy

l1[0] = "ABC"

print(l1)
print(l2)
print(l3)
print(l4)

NameError: name 'l4' is not defined

In [50]:
l1 = ["1", "2", "3"]
l4 = l1.copy() # Deep Copy

l4[0] = "ABC"

print(l1)
print(l4)

['1', '2', '3']
['ABC', '2', '3']

In [51]:
l1 = [1,2,3]
l2 = [4,5,6]

l1.extend(l2)

print(l1)
print(l2)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

In [53]:
l1 = [1,2,3]
l2 = [4,5,6]

l1.append(l2)

print(l1)
print(l2)

# notice the difference between append and extend.

[1, 2, 3, [4, 5, 6]]
[4, 5, 6]