# Chapter # 9 - If Statements

In [5]:
if species == "dog":
    print("Yep, it's a cat")

In [6]:
species = "cat"
if species == "cat":
    print("Yep, it's a cat")

Yep, it's a cat

In [7]:
if species == "cat":
    status = "ok"
    kingdom = "animal"
    print("Yep, it's a cat")

Yep, it's a cat

In [8]:
if 2 + 2 == 4:
    print("Everything here makes the sense")

Everything here makes the sense

In [9]:
if number_of_husbands == 1:
    print("So far so good")

NameError: name 'number_of_husbands' is not defined

In [10]:
if number_of_husbands == 1:
    print("So far so good")
    print("Congratulations")
    print("All Done")

NameError: name 'number_of_husbands' is not defined

# Chapter # 10 - Comparison Operators

# Chapter # 11 - else & elif statements

In [14]:
species = "Human"
if species == "cat":
  print("Yep, it's cat.")
if species != "cat":
  print("Nope, it's not a cat.")

Nope, it's not a cat.

In [15]:
if species == "cat":
    print("Yep, It's a cat ðŸ™€")
else:
    print("Nope, It's not a cat ðŸ™€")

Nope, It's not a cat ðŸ™€

In [29]:
donut_condition = "fresh"

if donut_condition == "fresh":
    buy_score = 10
    print(buy_score)
elif donut_price == "low":
    buy_score = 5
else:
    buy_score = 0

10

In [30]:
buy_score = 0
donut_condition = "fresh"
donut_filling = "chocolate"
donut_price = "not reasonable"

if donut_condition == "fresh":
    buy_score += 10
if donut_filling == "chocolate":
    buy_score += 5
if donut_price == "reasonable":
    buy_score += 7
    
print(buy_score)

15

In [31]:
buy_score = 0
donut_condition = "fresh"
donut_filling = "chocolate"
donut_price = "reasonable"

if donut_condition == "fresh":
    buy_score += 10
if donut_filling == "chocolate":
    buy_score += 5
if donut_price == "reasonable":
    buy_score += 7
    
print(buy_score)

22

In [32]:
buy_score = 0
donut_condition = "not fresh"
donut_filling = "chocolate"
donut_price = "reasonable"

if donut_condition == "fresh":
    buy_score += 10
if donut_filling == "chocolate":
    buy_score += 5
if donut_price == "reasonable":
    buy_score += 7
    
print(buy_score)

12

# 12 - Testing Sets of Conditions

In [33]:
if first_name == "Isaac" and last_name == "Newton":
  print("Thanks!")

NameError: name 'first_name' is not defined

# 14 - Comments

# 15 - Lists

In [35]:
city_0 = "Atlanta"
city_1 = "Baltimore"
city_2 = "Chicago"
city_3 = "Denver"
city_4 = "Los Angeles"
city_5 = "Seattle"

print("Welcome to " + city_0)

Welcome to Atlanta

In [37]:
city_0 = "Atlanta"
city_1 = "Baltimore"
city_2 = "Chicago"
city_3 = "Denver"
city_4 = "Los Angeles"
city_5 = "Seattle"

print("Welcome to " + city_3)

Welcome to Denver

In [42]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]

print("Welcome to " + cities[3])

Welcome to Denver

# 16 - Lists: Adding and changing elements

In [43]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]

In [44]:
cities.append("New York")

In [46]:
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York']

In [51]:
cities.append(47)

In [53]:
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York', 47, 47, 47, 47]

In [54]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]

In [55]:
longer_list_of_cities = cities + ["Dubuque", "New Orleans"]

In [56]:
print(longer_list_of_cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'Dubuque', 'New Orleans']

In [57]:
todays_tasks = []

In [58]:
print(todays_tasks)

[]

In [59]:
todays_tasks = todays_tasks + ["Walk Dogs", "Buy Grocery", "Offer Juma"]

In [60]:
print(todays_tasks)

['Walk Dogs', 'Buy Grocery', 'Offer Juma']

In [1]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]

In [3]:
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [4]:
cities.insert(0, "New York")

In [5]:
print(cities)

['New York', 'Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [6]:
cities.insert(2, "Dallas")

In [7]:
print(cities)

['New York', 'Atlanta', 'Dallas', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [9]:
cities[2] = "Houston"

In [10]:
print(cities)

['New York', 'Atlanta', 'Houston', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [11]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]

In [12]:
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [13]:
smaller_list_of_cities = cities[2:5]

In [14]:
print(smaller_list_of_cities)

['Chicago', 'Denver', 'Los Angeles']

In [15]:
smaller_list_of_cities = cities[:5]

In [16]:
print(smaller_list_of_cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles']

In [17]:
smaller_list_of_cities = cities[2:]

In [18]:
print(smaller_list_of_cities)

['Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [20]:
smaller_list_of_cities = cities[:]

In [21]:
print(smaller_list_of_cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [23]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [24]:
del tasks[0]

In [25]:
print(tasks)

['call Sarah', 'meet with Zach']

In [26]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [27]:
del tasks[1]

In [28]:
print(tasks)

['email Frank', 'meet with Zach']

In [29]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [30]:
tasks.remove("call Sarah")

In [31]:
print(tasks)

['email Frank', 'meet with Zach']

In [32]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [33]:
latest_tasks_accomplished = tasks.pop(1)

In [35]:
print(tasks)
print(latest_tasks_accomplished)

['email Frank', 'meet with Zach']
call Sarah

In [38]:
tasks_accomplished.append(latest_tasks_accomplished)

In [39]:
print(tasks_accomplished)

['call Sarah']

In [40]:
tasks_accomplished.append(tasks.pop(1))
print(tasks_accomplished)

['call Sarah', 'meet with Zach']

In [42]:
tasks_accomplished.append(tasks.pop())
print(tasks)
print(tasks_accomplished)

[]
['call Sarah', 'meet with Zach', 'email Frank']

In [43]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [44]:
tasks_accomplished.append(tasks.pop())
print(tasks)
print(tasks_accomplished)

['email Frank', 'call Sarah']
['call Sarah', 'meet with Zach', 'email Frank', 'meet with Zach']

In [45]:
tasks_accomplished.append(tasks.pop())
print(tasks)
print(tasks_accomplished)

['email Frank']
['call Sarah', 'meet with Zach', 'email Frank', 'meet with Zach', 'call Sarah']

In [46]:
tasks_accomplished.append(tasks.pop())
print(tasks)
print(tasks_accomplished)

[]
['call Sarah', 'meet with Zach', 'email Frank', 'meet with Zach', 'call Sarah', 'email Frank']

In [1]:
states_in_order_of_founding = ("Delaware", "Pennsylvania", "New Jersey", "Georgia")

In [7]:
second_state_founded = states_in_order_of_founding[1]
print("The second state founded was " + second_state_founded)

The second state founded was Pennsylvania

# Chapter 21: For Loops

In [6]:
city_to_check = "Tucson"

In [9]:
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson", "Great Falls", "Honolulu"]

In [10]:
if city_to_check == cleanest_cities[0]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[1]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[2]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[3]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[4]:
    print("It's one of the cleanest cities")

It's one of the cleanest cities

In [18]:
for a_clean_city in cleanest_cities:
    if a_clean_city == city_to_check:
        print("Yes, it is one of the cleanest cities")

Yes, it is one of the cleanest cities

In [19]:
for a_clean_city in cleanest_cities:
    if a_clean_city == city_to_check:
        print("Yes, it is one of the cleanest cities")
        break

Yes, it is one of the cleanest cities

In [20]:
first_names = ["BlueRay", "Upchuck", "Lojack", "Gizmo", "Do-Rag"]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []

for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " + a_last_name)
print(full_names)

['BlueRay Zzz', 'BlueRay Burp', 'BlueRay Dogbone', 'BlueRay Droop', 'Upchuck Zzz', 'Upchuck Burp', 'Upchuck Dogbone', 'Upchuck Droop', 'Lojack Zzz', 'Lojack Burp', 'Lojack Dogbone', 'Lojack Droop', 'Gizmo Zzz', 'Gizmo Burp', 'Gizmo Dogbone', 'Gizmo Droop', 'Do-Rag Zzz', 'Do-Rag Burp', 'Do-Rag Dogbone', 'Do-Rag Droop']

In [21]:
first_names = ["BlueRay", "Upchuck", "Lojack", "Gizmo", "Do-Rag"]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []

for a_last_name in last_names:
    for a_first_name in first_names:
        full_names.append(a_last_name + " " + a_first_name)
print(full_names)

['Zzz BlueRay', 'Zzz Upchuck', 'Zzz Lojack', 'Zzz Gizmo', 'Zzz Do-Rag', 'Burp BlueRay', 'Burp Upchuck', 'Burp Lojack', 'Burp Gizmo', 'Burp Do-Rag', 'Dogbone BlueRay', 'Dogbone Upchuck', 'Dogbone Lojack', 'Dogbone Gizmo', 'Dogbone Do-Rag', 'Droop BlueRay', 'Droop Upchuck', 'Droop Lojack', 'Droop Gizmo', 'Droop Do-Rag']

In [23]:
chosen_letter = "b"
letter_list = ["a", "b", "c", "d", "e", "f"]
for a_letter in letter_list:
  if a_letter == chosen_letter:
    print("It's a match.")
    break

It's a match.

# 24 Changing case

In [27]:
city_to_check = input("Enter your city Name: ")
city_to_check = city_to_check.lower()
cleanest_cities =  ["cheyenne", "santa fe", "tucson", "great falls", "honolulu"]

for a_clean_city in cleanest_cities:
    if  city_to_check == a_clean_city:
        print("Yes! " + city_to_check.title() + " is one of the top 5 cleanest cities in USA")

Enter your city Name: SantA fE
Yes! Santa Fe is one of the top 5 cleanest cities in USA

In [30]:
hoppers = ["rabbit", "hare", "bunny", "cottontail"]
pets = ["dog", "cat", "fish"]
pets.append(hoppers.pop(2))
print(pets)

['dog', 'cat', 'fish', 'bunny']

# 26 Dictionaries: How to code one

In [32]:
customer_29876 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St."}

In [33]:
print(customer_29876)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.'}

In [37]:
print(customer_29876)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.'}

# 27 Dictionaries: How to pick information out of them

In [40]:
customer_address = customer_29876["address"]
print("The customer address is " + customer_address)

The customer address is 4803 Wellesley St.

# 28 Dictionaries: The versatility of keys and values

# 29 Dictionaries: Adding items

In [3]:
# to pick something out of a dictionary, You begin with the name of the dictionary, then you write the 
# key, enclosed in square brackets

In [4]:
customer_29876 = {
    "first name": "David",
    "last name": "Elliott",
    "address": "4803 Wellesley St.",
}
print(customer_29876)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.'}

In [5]:
customer_29876["city"] = "Toronto"
print(customer_29876)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'city': 'Toronto'}

In [6]:
things_to_remember = {
    0: "the lowest number",
    "a dozen": 12,
    "snake eyes": "a pair of ones",
    13: "a baker's dozen",
}

print(things_to_remember)

{0: 'the lowest number', 'a dozen': 12, 'snake eyes': 'a pair of ones', 13: "a baker's dozen"}

In [9]:
things_to_remember = {}

print(things_to_remember)

{}

In [10]:
things_to_remember[0] = "the lowest number"
things_to_remember["a dozen"] = 12
things_to_remember["snake eyes"] = "a pair of ones"
things_to_remember[13] = "a baker's dozen"

print(things_to_remember)

{0: 'the lowest number', 'a dozen': 12, 'snake eyes': 'a pair of ones', 13: "a baker's dozen"}

# 30 Dictionaries: Removing and changing items

In [13]:
# It is similar in list and dictionary, in list we use index number for the purpose and in dictionary we use the key.
# del function and memory recall functions are used.

# 31 Dictionaries: Looping through values

In [15]:
print(customer_29876["first name"])
print(customer_29876["last name"])
print(customer_29876["address"])

David
Elliott
4803 Wellesley St.

In [19]:
for each_value in customer_29876.values():
    print(each_value)
print(customer_29876)
for each_key in customer_29876.keys():
    print(each_key)

David
Elliott
4803 Wellesley St.
Toronto
{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'city': 'Toronto'}
first name
last name
address
city

# 32 Dictionaries: Looping through keys

In [22]:
dictionary2 = {}

for a_key in customer_29876.keys():
    for a_value in customer_29876.values():
        dictionary2[a_key] = a_value

print(dictionary2)

{'first name': 'Toronto', 'last name': 'Toronto', 'address': 'Toronto', 'city': 'Toronto'}

In [23]:
dictionary2 = {}

for a_key in customer_29876.keys():
    dictionary2[a_key] = customer_29876[a_key]

print(dictionary2)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'city': 'Toronto'}

# 33 Dictionaries: Looping through key-value pairs

In [26]:
customer_29876 = {
    "first name": "David",
    "last name": "Elliott",
    "address": "4803 Wellesley St.",
}

print(customer_29876)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.'}

In [28]:
for a_key, a_value in customer_29876.items():
    print("The customer's " + a_key + " is " + a_value)

The customer's first name is David
The customer's last name is Elliott
The customer's address is 4803 Wellesley St.

# 34 Creating a list of dictionaries

In [29]:
customer_29876 = {
    "first name": "David",
    "last name": "Elliott",
    "address": "4803 Wellesley St.",
}

print(customer_29876)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.'}

In [30]:
customers = [
    {
        "customer id": 0,
        "first name":"John",
        "last name": "Ogden",
        "address": "301 Arbor Rd.",
    },
    {
        "customer id": 1,
        "first name":"Ann",
        "last name": "Sattermyer",
        "address": "PO Box 1145",
    },
    {
        "customer id": 2,
        "first name":"Jill",
        "last name": "Somers",
        "address": "3 Main St.",
    },
]

In [32]:
print(customers)

[{'customer id': 0, 'first name': 'John', 'last name': 'Ogden', 'address': '301 Arbor Rd.'}, {'customer id': 1, 'first name': 'Ann', 'last name': 'Sattermyer', 'address': 'PO Box 1145'}, {'customer id': 2, 'first name': 'Jill', 'last name': 'Somers', 'address': '3 Main St.'}]

# 35 How to pick information out of a list of dictionaries

# 36 How to append a new dictionary to a list of dictionaries

In [33]:
new_customer_id = len(customers)

print(new_customer_id)

3

# 37 Creating a dictionary that contains lists

In [3]:
customer_29876 = {
    "first name": "David",
    "last name": "Elliott",
    "address": "4803 Wellesley St.",
    "discounts": ["standard", "volume", "loyalty"],
}

print(customer_29876)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'discounts': ['standard', 'volume', 'loyalty']}

# 38 How to get information out of a list within a dictionary

In [4]:
if "brother-in-law" in customer_29876["discounts"]:
    discount_amount = .30
elif "loyalty" in customer_29876["discounts"]:
    discount_amount = .15
elif "volume" in customer_29876["discounts"]:
    discount_amount = .10
elif "standard" in customer_29876["discounts"]:
    discount_amount = .05
print(discount_amount)

0.15

# 39 Creating a dictionary that contains a dictionary

In [6]:
customers = [
    {
        "customer id": 0,
        "first name":"John",
        "last name": "Ogden",
        "address": "301 Arbor Rd.",
    },
    {
        "customer id": 1,
        "first name":"Ann",
        "last name": "Sattermyer",
        "address": "PO Box 1145",
    },
    {
        "customer id": 2,
        "first name":"Jill",
        "last name": "Somers",
        "address": "3 Main St.",
    },
]

In [8]:
customers = {
    0: {
        "first name":"John",
        "last name": "Ogden",
        "address": "301 Arbor Rd.",
    },
    1: {
        "first name":"Ann",
        "last name": "Sattermyer",
        "address": "PO Box 1145",
    },
    2: {
        "first name":"Jill",
        "last name": "Somers",
        "address": "3 Main St.",
    },
}

print(customers)

{0: {'first name': 'John', 'last name': 'Ogden', 'address': '301 Arbor Rd.'}, 1: {'first name': 'Ann', 'last name': 'Sattermyer', 'address': 'PO Box 1145'}, 2: {'first name': 'Jill', 'last name': 'Somers', 'address': '3 Main St.'}}

In [10]:
customers = {
    "johnog": {
        "first name":"John",
        "last name": "Ogden",
        "address": "301 Arbor Rd.",
    },
    "coder1200": {
        "first name":"Ann",
        "last name": "Sattermyer",
        "address": "PO Box 1145",
    },
    "madmaxine": {
        "first name":"Jill",
        "last name": "Somers",
        "address": "3 Main St.",
    },
}

print(customers)

{'johnog': {'first name': 'John', 'last name': 'Ogden', 'address': '301 Arbor Rd.'}, 'coder1200': {'first name': 'Ann', 'last name': 'Sattermyer', 'address': 'PO Box 1145'}, 'madmaxine': {'first name': 'Jill', 'last name': 'Somers', 'address': '3 Main St.'}}

# 40 How to get information out of a dictionary within another dictionary

# 41 Functions

In [11]:
first_number = 2
second_number = 3

total = first_number + second_number

print(total)

5

In [27]:
def add_numbers():
    first_number = int(input("Please enter the 1st number "))
    second_number = int(input("Please enter the 2nd number "))
    total = first_number + second_number
    print("\n The sum of the numbers is " + str(total))

In [28]:
add_numbers()

Please enter the 1st number 30
Please enter the 2nd number 60

 The sum of the numbers is 90

# 42 Functions: Passing them information

# 43 Functions: Passing information to them a different way

In [30]:
# positional arguments
# keyword arguments

In [52]:
def names_of_couple(husband, wife):
    print("The names of the couple are the " + husband + " and the " + wife)

names_of_couple("Bill", "Zelda")

The names of the couple are the Bill and the Zelda

In [53]:
def name_of_couple(husband, wife):
    print("The names of the couple are the " + husband + " and the " + wife)

name_of_couple(husband = "Bill", wife = "Zelda")

The names of the couple are the Bill and the Zelda

In [55]:
def couple_names(husband, wife, family):
    print("The names of the couple are the " + husband + " and the " + wife + " " + family)

couple_names(wife = "Zelda", husband = "Bill", family = "Gates")

The names of the couple are the Bill and the Zelda Gates

In [39]:
def greetings(first_name, last_name):
    print(f"Hello! {first_name} {last_name}")

greetings("Nadeem", "Hussain")

Hello! Nadeem Hussain

In [46]:
def greeting(first_name, last_name):
    print(f"Hello! {first_name} {last_name}")

greeting(first_name = "Nadeem", last_name = "Hussain")

Hello! Nadeem Hussain

In [47]:
def greet(first_name, last_name):
    print(f"Hello! {first_name} {last_name}")

greet(last_name = "Hussain", first_name = "Nadeem")

Hello! Nadeem Hussain

# 44 Functions: Assigning a default value to a parameter

In [64]:
def calc_tax(sales_total, tax_rate):
    print(f"Sales Tax on total sales of ${sales_total} with the sales tax rate of {tax_rate*100} % is ${sales_total * tax_rate}")

In [65]:
calc_tax(sales_total=101.37, tax_rate=.05)

Sales Tax on total sales of $101.37 with the sales tax rate of 5.0 % is $5.0685

In [70]:
def calc_tax(sales_total, tax_rate=.04):
    
    # Note: Keyword parameters without defaults must come before keyword parameters with defaults as shown above.
    
    print(f"Sales Tax on total sales of ${sales_total} with the sales tax rate of {tax_rate*100} % is ${sales_total * tax_rate}")

# Note that only the keyword parameters can have a default value, shown here. Positional parameters can't.

In [71]:
calc_tax(sales_total=101.37)

Sales Tax on total sales of $101.37 with the sales tax rate of 4.0 % is $4.0548

In [72]:
calc_tax(sales_total=101.37, tax_rate=.075)

Sales Tax on total sales of $101.37 with the sales tax rate of 7.5 % is $7.60275

In [73]:
def print_order(product_name, color, size, engraving_text=""):
    # You can use an empty default parameter value for an optional argument.

IndentationError: expected an indented block (2538831583.py, line 3)

In [97]:
def add_numbers(first_number=2, second_number=4):
    print(first_number + second_number)

In [98]:
add_numbers(first_number, second_number)

5

# 45 Functions: Mixing positional and keyword arguments

In [100]:
def give_greeting(greeting, first_name):
    print(greeting + ", " + first_name)

In [101]:
give_greeting("Hello there", first_name="Al") # Positional arguments must come before keyword arguments.

Hello there, Al

In [103]:
def give_greeting(greeting, first_name, flattering_nickname=" the wonder boy"):
    print(greeting + ", " + first_name + flattering_nickname)

# Note: Positional arguments and parameters always come first, keyword
# parameters without defaults always come second, and keyword parameters with
# defaults always come last.

In [104]:
give_greeting("Hello there", first_name="Al")

Hello there, Al the wonder boy

In [105]:
customers = {
    0: {
        "first name":"John",
        "last name": "Ogden",
        "address": "301 Arbor Rd.",
        },
    1: {
        "first name":"Ann",
        "last name": "Sattermyer",
        "address": "PO Box 1145",
        },
    2: {
        "first name":"Jill",
        "last name": "Somers",
        "address": "3 Main St.",
        },
}

In [107]:
def find_something(dict, inner_dict, target):
    print(dict[inner_dict][target])

In [108]:
find_something(customers, 2, "last name")

Somers

# 46 Functions: Dealing with an unknown number of arguments

In [109]:
def display_result(winner, score):
    print("The winner was " + winner)
    print("The score was " + score)

In [110]:
display_result(winner="Real Madrid", score="1-0")

The winner was Real Madrid
The score was 1-0

In [112]:
display_result("Real Madrid", "1-0")

The winner was Real Madrid
The score was 1-0

In [1]:
def display_result(winner, score, **other_info):
    print("The winner was " + winner)
    print("The score was " + score)
    for key, value in other_info.items():
        print(key + ": " + value)

In [3]:
display_result(winner="Real Madrid", score="1-0", overtime ="yes", injuries="none", recoveries="all", stressed="all")

The winner was Real Madrid
The score was 1-0
overtime: yes
injuries: none
recoveries: all
stressed: all

In [6]:
def display_nums(first_num, second_num, *opt_nums):
    print(first_num)
    print(second_num)
    print(opt_nums)

In [7]:
display_nums(100, 200, 300, 400, 500, 600)

100
200
(300, 400, 500, 600)

# 47 Functions: Passing information back from them

In [8]:
def calc_tax(sales_total, tax_rate):
    tax = sales_total * tax_rate
    print(tax)

In [9]:
calc_tax(sales_total=101.37, tax_rate=.05)

5.0685

In [11]:
def calc_tax(sales_total, tax_rate):
    tax = sales_total * tax_rate
    return tax

In [12]:
sales_tax = calc_tax(sales_total=101.37, tax_rate=.05)
print(sales_tax)

5.0685

In [13]:
def calc_tax(sales_total, tax_rate):
    return(sales_total * tax_rate)

In [16]:
print(calc_tax(sales_total=101.37, tax_rate=.075))

7.60275

# 48 Using functions as variables (which is what they really are)

# 49 Functions: Local vs. global variables

In [17]:
def say_some_thing():
    what_to_say = "Hi"

In [20]:
print(what_to_say)

Hi

In [21]:
def what_ever(b, c):
    total = b + c
    return total

In [22]:
print(b)

NameError: name 'b' is not defined

In [23]:
print(c)

NameError: name 'c' is not defined

In [24]:
print(total)

NameError: name 'total' is not defined

In [25]:
def what_ever(b, c):
    total = b + c
    print(b)
    print(c)
    print(total)

In [26]:
a = 2

In [27]:
def display_number():
    print(a)

In [28]:
display_number()

2

In [29]:
def display_number(c):
    print(c)

In [30]:
display_number(5)

5

In [1]:
def whatever():
    y = 2
    print(y)
y = 1
whatever()
print(y)

2
1

# 50 Functions within functions

In [3]:
def say_something():
    what_to_say = "Hi"
    print(what_to_say)

In [4]:
say_something()

Hi

In [10]:
def _something():
    what_to_say = "Hi"
    _say_it(what_to_say)

In [11]:
def _say_it(content):
    print(content)

In [12]:
_something()

Hi

# 51 While loops

In [14]:
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson", "Great Falls", "Honolulu"]

In [15]:
print(cleanest_cities)

['Cheyenne', 'Santa Fe', 'Tucson', 'Great Falls', 'Honolulu']

In [16]:
city_to_check = input("Enter the name of a city you want to check: ")

for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("Yes " + city_to_check + " is one the cleanest cities")
        break

Enter the name of a city you want to check: Honolulu
Yes Honolulu is one the cleanest cities

In [17]:
city_to_check = ""

while city_to_check != "q":
    city_to_check = input("Enter the name of a city you want to check at a time or press q to quit: ")
    if city_to_check != "q":
        for a_clean_city in cleanest_cities:
            if city_to_check == a_clean_city:
                print("Yes " + city_to_check + " is one the cleanest cities")
                break

Enter the name of a city you want to check at a time or press q to quit: toronto
Enter the name of a city you want to check at a time or press q to quit: Great Falls
Yes Great Falls is one the cleanest cities
Enter the name of a city you want to check at a time or press q to quit: q

In [22]:
while x != 99:
  print(x)
  x += 1

In [26]:
def comparison(var1, var2, var3):
  while var1 + var2 >= var3:
    print(var1, var2, var3)
    var1 -= var3 / 2

In [27]:
comparison(15, 25, 10)

15 25 10
10.0 25 10
5.0 25 10
0.0 25 10
-5.0 25 10
-10.0 25 10
-15.0 25 10

In [35]:
def you_are_right():
    user_input = ""
    while user_input != "You're right":
        user_input = input("Enter your views about my answer ")

In [36]:
you_are_right()

Enter your views about my answer nothing man
Enter your views about my answer why are you bothering me
Enter your views about my answer no
Enter your views about my answer not at all
Enter your views about my answer you are right
Enter your views about my answer you're right
Enter your views about my answer You're right

# Chap # 41: Functions

In [12]:
first_number = 5
second_number = 4

total = first_number + second_number

total

9

In [26]:
add_numbers(5,7)

12

In [25]:
add_numbers(5,7)

def add_numbers(first_number, second_number):
    total = first_number + second_number
    print(total)

add_numbers(5,8)

12
13

In [11]:
add_numbers(5,7)

12

In [8]:
add_numbers(2, 3)

5

In [14]:
add_numbers(65, 0)

65

In [17]:
greeting = "Hello, there. I am going back to my home, I don't know why!"
num = 3,4,5

def greet_user(greeting, num):
    print(greeting, num)

In [18]:
greet_user(greeting, num)

Hello, there. I am going back to my home, I don't know why! (3, 4, 5)

In [27]:
whatever = "I am back"
greet_user(whatever, num)

I am back (3, 4, 5)

In [20]:
greet_user("I am not coming back", num)

I am not coming back (3, 4, 5)

# Chap # 42: Functions - Passing Information

In [27]:
def greet_user(greeting):
    print(greeting)

In [29]:
greet_user(greeting)

Hello, there. I am going back to my home, I don't know why!

In [30]:
greeting = "Hello, there!"

In [31]:
greet_user(greeting)

Hello, there!

In [33]:
whatever = "Hello, there. This is another message"
greet_user(whatever)

Hello, there. This is another message

# Chap # 43: Functions - Passing Information Keyword Arguements

In [37]:
def say_names_of_couple(husband_name, wife_name):
    print(f"The names of the couple are {husband_name} and {wife_name}")

In [40]:
say_names_of_couple(wife_name = "Saima", husband_name = "Nadeem")

The names of the couple are Nadeem and Saima

# Chap # 44: Functions - Passing Information Default Values Arguements

In [48]:
def calc_tax(total_sales, tax_rate = 0.04):
    print(f"Your sales tax is {total_sales * tax_rate} rupees")

In [49]:
calc_tax(total_sales = 1000000000)

Your sales tax is 40000000.0 rupees

In [92]:
def nums(num_1 = 2, num_2 = 3):
    print(num_1, num_2, num_1 + num_2)

In [94]:
nums()

2 3 5

In [100]:
def add_numbers(first_number = 2, second_number = 4):
    total = first_number + second_number
    print(first_number, second_number, total)

In [101]:
add_numbers()

2 4 6

In [102]:
add_numbers(first_number = 3, second_number = 5)

3 5 8

In [103]:
add_numbers(first_number = 3)

3 4 7

# Chap # 45: Functions - Mixing Positional & Keyword Arguements

In [108]:
def give_greetings(greetings, last_name = "Koondhar"):
    print(f"{greetings}! {last_name}")

In [109]:
give_greetings(greetings = "Good Day")

Good Day! Koondhar

In [110]:
give_greetings(greetings = "Good Day", last_name = "Saima Nadeem")

Good Day! Saima Nadeem

In [111]:
def give_greetings(greetings, last_name = "Koondhar", flattering_nickname = " the Wonder Boy"):
    print(f"{greetings}! {last_name + flattering_nickname}")

In [112]:
give_greetings(greetings = "Weldone")

Weldone! Koondhar the Wonder Boy

In [115]:
customers = {
    0: {
        1: [1, 2, 3, 4, 5],
    },
}

customers

{0: {1: [1, 2, 3, 4, 5]}}

In [116]:
customers = {
    0: {
        "first name":"John",
        "last name": "Ogden",
        "address": "301 Arbor Rd.",
        },
    1: {
        "first name":"Ann",
        "last name": "Sattermyer",
        "address": "PO Box 1145",
    },
    2: {
        "first name":"Jill",
        "last name": "Somers",
        "address": "3 Main St.",
    },
}

In [118]:
def find_something(dict, customer, finding):
    print(dict[customer][finding])

find_something(customers, 2, "last name")

Somers

# Chap # 46: Functions - unknown number arguments

In [129]:
def display_result(winner, score, **other_info):
    print("The winner was " + winner)
    print("The score was " + score)
    for key, value in other_info.items():
        print(key + ": " + value)
    print(other_info)

In [130]:
display_result(winner = "The Real Madrid", score = "1-0", Overtime = "Yes", Injuries = "None")

The winner was The Real Madrid
The score was 1-0
Overtime: Yes
Injuries: None
{'Overtime': 'Yes', 'Injuries': 'None'}

In [137]:
def display_nums(first_num, second_num, *optional_num):
    print(first_num)
    print(second_num)
    for a_num in optional_num:
        print(a_num)
    print(optional_num)

In [138]:
display_nums(1, 2, 5, 7, 8, 9, 4, 5, 1, 2, 3)

1
2
5
7
8
9
4
5
1
2
3
(5, 7, 8, 9, 4, 5, 1, 2, 3)

# Chap # 47: Functions - Passing Information back to them

In [142]:
def calc_tax(sales_total, tax_rate):
    tax = sales_total * tax_rate
    print(tax)

In [143]:
calc_tax(sales_total = 101.37, tax_rate = .05)

5.0685

In [144]:
def calc_tax(sales_total, tax_rate):
    tax = sales_total * tax_rate
    return tax

In [145]:
sales_tax = calc_tax(sales_total = 101.37, tax_rate = .05)

print(sales_tax)

5.0685

In [159]:
def a():
    return 2

In [161]:
a = 1
a = str(a())

TypeError: 'int' object is not callable

In [163]:
first_name = "Hamid"

def func():
    first_name = "George"
    print(first_name)

func()

George

# Chap # 50: Functions - functions within functions

In [164]:
def say_something():
    what_to_say = "Hi"
    print(what_to_say)

In [165]:
say_something()

Hi

In [182]:
def now_say_it(what_to_say):
    print(what_to_say)

def say_something():
    what_to_say = "Hi"
    now_say_it(what_to_say)

In [183]:
say_something()

Hi

In [192]:
def outer_function(a, b):
    
    def inner_function(a, b):
        return a + b
    
    return inner_function(a, b) + 5

outer_function(2, 10)

17

In [ ]:
# outer function
def outer_fun(a, b):
    
    # inner function
    def addition(a, b):
        return a + b

    # call inner function from outer function
    add = addition(a, b)
    # add 5 to the result
    return add + 5

result = outer_fun(5, 10)
print(result)

# Chap # 51: While Loop

In [196]:
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson", "Great Falls", "Honolulu"]

city_to_check = input("Enter the name of a city: ")

for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("It's one of the cleanest cities")

Enter the name of a city: santa fe

In [201]:
user_input = ""

while user_input != "q":
    user_input = input("Enter a city you want to check or enter q to terminate")
    if user_input != "q":
        for a_clean_city in cleanest_cities:
            if user_input == a_clean_city:
                print(f"{user_input} is one of the cleanest cities")
                break
            else:
                print(f"{user_input} is not one of the cleanest cities")
                break

Enter a city you want to check or enter q to terminatedil
dil is not one of the cleanest cities
Enter a city you want to check or enter q to terminatedilber
dilber is not one of the cleanest cities
Enter a city you want to check or enter q to terminatebihter
bihter is not one of the cleanest cities
Enter a city you want to check or enter q to terminateCheyenne
Cheyenne is one of the cleanest cities
Enter a city you want to check or enter q to terminateq

# Chap # 52: Setting up a flag

In [203]:
keep_looping = True

while keep_looping == True:
    user_input = input("Enter a city, or q to quit:")
    if user_input != "q":
        for a_clean_city in cleanest_cities:
            if user_input == a_clean_city:
                print("It's one of the cleanest cities")
                break
    else:
        keep_looping = False

Enter a city, or q to quit:Cheynne
Enter a city, or q to quit:Cheyenne
It's one of the cleanest cities
Enter a city, or q to quit:q

# Chap # 53, 54: OOP Classes

# Chap # 55: OOP Classes - house keeping

In [ ]:
class Patient():
    def __init__(self, last_name):
        self.last_name = last_name

# Chap # 56: OOP Classes - creating an instance

# Chap # 57: OOP Classes - A little more complexity

In [208]:
class Patient():
    def __init__(self, last_name):
        self.last_name = last_name

pid4343 = Patient("Taleb")
pid4344 = Patient("Anand")
pid4345 = Patient("Oppenheimer")
pid4346 = Patient("Lin")
pid12902 = Patient("Nilsson")

In [209]:
print(pid4343)

<__main__.Patient object at 0x0000024DC2534460>

In [210]:
print(pid4344)

<__main__.Patient object at 0x0000024DC2534A00>

In [211]:
print(pid4345)

<__main__.Patient object at 0x0000024DC2534BE0>

In [212]:
print(pid4346)

<__main__.Patient object at 0x0000024DC261B400>

In [214]:
print(pid12902)

<__main__.Patient object at 0x0000024DC261B040>

In [216]:
class Patient():
    def __init__(self, last_name, first_name, age):
        self.last_name = last_name
        self.first_name = first_name
        self.age = age

pid4343 = Patient("Taleb", "Sue", 61)
pid4344 = Patient("Anand", "Punya", 29)
pid4345 = Patient("Oppenheimer", "Douglas", 15)
pid4346 = Patient("Lin", "Lilly", 48)
pid12902 = Patient("Nilsson", "Rhonda", 33)

# Chap # 57: OOP Classes - A little more complexity

In [217]:
age_of_patient = pid4343.age
age_of_patient

61

In [218]:
print(pid4343.age)

61

In [222]:
class Patient():
    def __init__(self, last_name, first_name, age):
        self.last_name = last_name
        self.first_name = first_name
        self.age = age
    def say_if_minor(self):
        if self.age < 21:
            print("This patient is a minor")
    def change_last_name(self, new_last_name):
        self.last_name = new_last_name

In [224]:
pid4343.change_last_name("Ortega")

AttributeError: 'Patient' object has no attribute 'change_last_name'

# Chap # 62: OOP Classes - Data Files

In [ ]:
with open("whatever.txt", "w") as file_to_work_with:

# Chap # 63: OOP Classes - Data Files - Storing data

In [225]:
with open("greet.txt", "w") as f:
    f.write("Hello, Nadeem! How are you?")

In [226]:
with open("greet.txt", "a") as f:
    f.write("\nHave a nice day man")

In [227]:
with open("greet.txt") as f:
    message = f.read()
    print(message)

Hello, Nadeem! How are you?
Have a nice day man

# Chap # 66: OOP Classes - Data Files - Modules

In [239]:
import greet_the_user

greet_the_user.greeting()

Hi man, have a good day

In [241]:
import csv

with open("potions.csv") as f:
    x = []
    contents = csv.reader(f)
    for a_line in contents:
        x += a_line
print(x)

['Potion', 'Effect', 'Telltale Property', 'Amortentia', 'Love', 'Steam', 'Confusing Concoction', 'Confusion', 'Nausea', 'Draught of Living Death', 'Sleep', 'Turns leaf to ashes', 'Draught of Peace', 'Comfort', 'None', 'Felix Felicis', 'Luck', 'Giddiness', 'Hiccoughing Potion', 'Stops hiccoughs', 'None', 'Pepperup Potion', 'Health', 'Steaming Ears', 'Polyjuice Potion', 'Shape shifting', 'Voice change', 'Skele-Gro', 'Bone growth', 'Disgusting taste', "Sleekeazy's Hair Potion", 'Hair straightener', 'None', 'Veritaserum', 'Truth-telling', 'None']

In [ ]:
# Chap # 69:

In [243]:
target = input("Enter the name of competition")
index_number_of_target = x.index(target)
index_number_of_winner = index_number_of_target + 1
the_winner = x[index_number_of_winner]
print(f"The winner of competition {target} was {the_winner}")

Enter the name of competitionTelltale Property
The winner of competition Telltale Property was Amortentia

In [244]:
with open("KGT Terbiatgaah List (2).csv") as f:
    x = []
    contents = csv.reader(f)
    for a_line in contents:
        x += a_line
print(x)

['KGT Mubtadi to Multazim', '', '', '', '', '', 'Sr #', 'Rafeeq Name', 'Naqeeb', 'Status', 'Wafd', 'Remarks', '8', 'Abdul Kareem', 'AG', 'No', 'N/A', 'Already Confirmed', '20', 'Shamshad Ali', 'AG', 'No', 'SUR, SWA & NHK', '', '4', 'Zohaib Zafar', 'GH', 'No', 'MRU, SWA & NHK', '', '7', 'Hafiz Muaaz Tahir', 'GH', 'No', 'N/A', 'Already Confirmed', '2', 'Mazhar Shehzaad', 'MRU', 'No', 'SUR, SWA & NHK', '', '5', 'Muhammad Junaid Ali', 'MRU', 'No', 'SUR, SWA & NHK', '', '6', 'Adnan', 'MRU', 'No', 'SUR, SWA & NHK', '', '11', 'Talha Ali', 'MRU', 'No', 'SUR, Ab.S & GH', '', '12', 'Aamir Hussain', 'MRU', 'No', 'SUR, SWA & NHK', '', '18', 'Imtiaz Ahmed Riaz', 'MRU', 'No', 'SUR, SWA & NHK', '', '1', 'Abdul Khaliq', 'NHK', 'No', 'SUR, SWA & NHK', '', '3', 'Muhammad Abdul Raheem Saad', 'NHK', 'No', 'SUR, SWA & NHK', '', '13', 'Altaf Hussain Abbassi', 'NHK', 'No', 'AG & NHK', '', '14', 'Muhammad Younus', 'NHK', 'No', '', '', '9', 'Furqan Fareed', 'SUR', 'No', 'SUR, Ab.S & GH', '', '10', 'Abdul Qadeer', 'SUR', 'No', 'SUR, Ab.S & GH', '', '16', 'Wajahat Alam', 'SUR', 'No', '', '', '19', 'Hamza Qadeer', 'SUR', 'No', 'SUR, SWA & NHK', '', '15', 'Muhammad Ali ud Deen', 'SWA', 'No', '', '', '17', 'Hassaan ud Deen', 'SWA', 'No', 'SUR, Ab.S & GH', '']

In [246]:
print(x[100])

SUR, Ab.S & GH

In [247]:
print(len(x))

132

In [249]:
print(x.index('Hassaan ud Deen'))

127

In [250]:
with open("KGT Terbiatgaah List (2).csv") as f:
    content = csv.reader(f)
    x = []
    for a_line in content:
        x += a_line
print(x)

['KGT Mubtadi to Multazim', '', '', '', '', '', 'Sr #', 'Rafeeq Name', 'Naqeeb', 'Status', 'Wafd', 'Remarks', '8', 'Abdul Kareem', 'AG', 'No', 'N/A', 'Already Confirmed', '20', 'Shamshad Ali', 'AG', 'No', 'SUR, SWA & NHK', '', '4', 'Zohaib Zafar', 'GH', 'No', 'MRU, SWA & NHK', '', '7', 'Hafiz Muaaz Tahir', 'GH', 'No', 'N/A', 'Already Confirmed', '2', 'Mazhar Shehzaad', 'MRU', 'No', 'SUR, SWA & NHK', '', '5', 'Muhammad Junaid Ali', 'MRU', 'No', 'SUR, SWA & NHK', '', '6', 'Adnan', 'MRU', 'No', 'SUR, SWA & NHK', '', '11', 'Talha Ali', 'MRU', 'No', 'SUR, Ab.S & GH', '', '12', 'Aamir Hussain', 'MRU', 'No', 'SUR, SWA & NHK', '', '18', 'Imtiaz Ahmed Riaz', 'MRU', 'No', 'SUR, SWA & NHK', '', '1', 'Abdul Khaliq', 'NHK', 'No', 'SUR, SWA & NHK', '', '3', 'Muhammad Abdul Raheem Saad', 'NHK', 'No', 'SUR, SWA & NHK', '', '13', 'Altaf Hussain Abbassi', 'NHK', 'No', 'AG & NHK', '', '14', 'Muhammad Younus', 'NHK', 'No', '', '', '9', 'Furqan Fareed', 'SUR', 'No', 'SUR, Ab.S & GH', '', '10', 'Abdul Qadeer', 'SUR', 'No', 'SUR, Ab.S & GH', '', '16', 'Wajahat Alam', 'SUR', 'No', '', '', '19', 'Hamza Qadeer', 'SUR', 'No', 'SUR, SWA & NHK', '', '15', 'Muhammad Ali ud Deen', 'SWA', 'No', '', '', '17', 'Hassaan ud Deen', 'SWA', 'No', 'SUR, Ab.S & GH', '']

In [ ]:
with open("whatever.csv", "w", newline="") as f:
2 data_handler = csv.writer(f, delimiter=",")
3 data_handler.writerow(["Year", "Event",
"Winner"])
4 data_handler.writerow(["1995", "Best-Kept Lawn",
"None"])
5 data_handler.writerow(["1999", "Gobstones",
"Welch National"])

In [263]:
with open("competitions.csv", "w", newline="") as f:
    data_handler = csv.writer(f, delimiter = ",")
    data_handler.writerow(["Year", "Event", "Winner"])
    data_handler.writerow(["1995", "Best-Kept Lawn", "None"])
    data_handler.writerow(["1999", "Gobstones", "Welch National"])

In [255]:
print(data_handler)

<_csv.writer object at 0x0000024DC280A310>

In [268]:
import three_by_3
three_by_3.create_csv()

NameError: name 'csv' is not defined

In [270]:
import three_by3
three_by3.create_csv()

NameError: name 'cvs' is not defined

In [266]:
with open("whatever.csv", "w", newline="") as f:
    data_handler = csv.writer(f, delimiter=",")
    data_handler.writerow(["Year", "Event", "Winner"])
    data_handler.writerow(["1995", "Best-Kept Lawn", "None"])
    data_handler.writerow(["1999", "Gobstones", "Welch National"])

In [271]:
alphabet_letters = ["a", "b", "c"]
with open("alphabet_list.txt", "w") as f:
    f.write(alphabet_letters)

TypeError: write() argument must be str, not list

In [272]:
import json

list_of_friends = ["Mehran", "Zain", "Saadat"]

with open("my_friends.json", "w") as f:
    json.dump(list_of_friends, f)

In [275]:
with open("my_friends.json") as f:
    json.load(f)
print(f)

<_io.TextIOWrapper name='my_friends.json' mode='r' encoding='cp1252'>

In [277]:
customer_29876 = {
    "first name": "David",
    "last name": "Elliott",
    "address": "4803 Wellesley St.",
}

with open("customer_29876.json", "w") as f:
    json.dump(customer_29876, f)

In [279]:
with open("customer_29876.json") as f:
    customer_29876 = json.load(f)
print(customer_29876)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.'}

In [280]:
print(customer_29876["address"])

4803 Wellesley St.

In [282]:
with open("my_friends.json") as f:
    friends = json.load(f)
print(friends)

['Mehran', 'Zain', 'Saadat']

In [286]:
try:
    with open("text.txt") as t:
        content = t.read()
except FileNotFoundError:
    print("The file not found")

The file not found

In [293]:
while True:
    file_to_open = input("Which file you want to open ")
    try:
        with open(file_to_open) as t:
            print(t.read())
            break
    except FileNotFoundError:
        print("The file not found.\nPlease try again")

Which file you want to open green
The file not found.
Please try again
Which file you want to open green.txt
The file not found.
Please try again
Which file you want to open greet
The file not found.
Please try again
Which file you want to open greet.txt
Hello, Nadeem! How are you?
Have a nice day man