In [2]:
data = """
Name:           Nadeem Hussain
Father's Name:  Abdul Fattah
AIC Batch:      36 - 37
"""
print(data)

Name:           Nadeem Hussain
Father's Name:  Abdul Fattah
AIC Batch:      36 - 37

In [4]:
data

"\nName:           Nadeem Hussain\nFather's Name:  Abdul Fattah\nAIC Batch:      36 - 37\n"

In [5]:
nadeem = "dil dil" # variable shows the value stored in it without needing it to be displayed using the print() function.
nadeem

'dil dil'

In [9]:
"a"
'b'
"c" # Jupyter notebook returns the last line

'c'

In [8]:
print("c")

c

# Concatenation (combining two values or variables) & Text Formatting

In [10]:
name = "Nadeem Hussain"
father_name = "Abdul Fattah"
education = "ME Petroleum Engineering"
designation = "AI Engineer Oil And Gas"

print(name, father_name, education, designation, sep="\n")

Nadeem Hussain
Abdul Fattah
ME Petroleum Engineering
AI Engineer Oil And Gas

In [11]:
print("a")
print('b')

a
b

In [13]:
name = "Nadeem Hussain"
father_name = "Abdul Fattah"
education = "ME Petroleum Engineering"
designation = "AI Engineer Oil And Gas"

print(name, father_name, education, designation, end="\n")

Nadeem Hussain Abdul Fattah ME Petroleum Engineering AI Engineer Oil And Gas

In [18]:
name = "Nadeem Hussain"
father_name = "Abdul Fattah"
education = "ME Petroleum Engineering"
designation = "AI Engineer Oil And Gas"
height = 5.5

# + operator on the string joins two strings
result = "PIAIC Teacher Card\nName: " + name + "\nFather's Name: " + father_name + "\nEducation: " + education + "\nDesignation: " + designation + "\nHeight: " + str(height)

print(result)

PIAIC Teacher Card
Name: Nadeem Hussain
Father's Name: Abdul Fattah
Education: ME Petroleum Engineering
Designation: AI Engineer Oil And Gas
Height: 5.5

In [19]:
name = "Nadeem Hussain"
father_name = "Abdul Fattah"
education = "ME Petroleum Engineering"
designation = "AI Engineer Oil And Gas"
height = 5.5

data = """
PIAIC Teacher Card
Name: {}
Father's Name: {}
Education: {}
Designation: {}
Height: {}
""".format(name, father_name, education, designation, height)

print(data)

PIAIC Teacher Card
Name: Nadeem Hussain
Father's Name: Abdul Fattah
Education: ME Petroleum Engineering
Designation: AI Engineer Oil And Gas
Height: 5.5

In [21]:
name = "Nadeem Hussain"
father_name = "Abdul Fattah"
education = "ME Petroleum Engineering"
designation = "AI Engineer Oil And Gas"
height = 5.5

data = """
PIAIC Teacher Card
Name: {}
Father's Name: {}
Education: {}
Designation: {}
Height: {}
""".format(father_name, height, education, designation, name)

print(data)

PIAIC Teacher Card
Name: Abdul Fattah
Father's Name: 5.5
Education: ME Petroleum Engineering
Designation: AI Engineer Oil And Gas
Height: Nadeem Hussain

In [22]:
name = "Nadeem Hussain"
father_name = "Abdul Fattah"
education = "ME Petroleum Engineering"
designation = "AI Engineer Oil And Gas"
height = 5.5

data = """
PIAIC Teacher Card
Name: {4}
Father's Name: {0}
Education: {2}
Designation: {3}
Height: {1}
""".format(father_name, height, education, designation, name)

print(data)

PIAIC Teacher Card
Name: Nadeem Hussain
Father's Name: Abdul Fattah
Education: ME Petroleum Engineering
Designation: AI Engineer Oil And Gas
Height: 5.5

In [23]:
name = "Nadeem Hussain"
father_name = "Abdul Fattah"
education = "ME Petroleum Engineering"
designation = "AI Engineer Oil And Gas"
height = 5.5

data = f"""
PIAIC Teacher Card
Name: {name}
Father's Name: {father_name}
Education: {education}
Designation: {designation}
Height: {height}
"""

print(data)

PIAIC Teacher Card
Name: Nadeem Hussain
Father's Name: Abdul Fattah
Education: ME Petroleum Engineering
Designation: AI Engineer Oil And Gas
Height: 5.5

In [24]:
name = input("Enter your Full Name: ")
father_name = input("Enter Full Name of your father: ")
education = input("Enter your education or qualification: ")
designation = input("Enter your designation: ")
height = input("Enter your height: ")

data = f"""
PIAIC Teacher Card
Name: {name}
Father's Name: {father_name}
Education: {education}
Designation: {designation}
Height: {height}
"""

print(data)

Enter your Full Name: Nadeem Hussain Koondhar
Enter Full Name of your father: Abdul Fattah Koondhar
Enter your education or qualification: ME Petroleum Engineering
Enter your designation: AI Engineer Oil & Gas division
Enter your height: 5.6

PIAIC Teacher Card
Name: Nadeem Hussain Koondhar
Father's Name: Abdul Fattah Koondhar
Education: ME Petroleum Engineering
Designation: AI Engineer Oil & Gas division
Height: 5.6