# For Loop Continue Keyword

In [2]:
arr = [1, 3, 2, 6, 67, 23, 45, 49]

for elem in arr:
    if elem % 2 == 0:
        continue
    print(elem)

1
3
67
23
45
49

In [9]:
for i in range(10,-10,-3):
    print(i, "Nadeem")

10 Nadeem
7 Nadeem
4 Nadeem
1 Nadeem
-2 Nadeem
-5 Nadeem
-8 Nadeem

In [11]:
country = "Pakistan", "Nadeem"

for char in country:
    print(char)

Pakistan
Nadeem

In [18]:
for i in range(10):
    if i % 3 == 2:
        break
    print(i, "Nadeem")

0 Nadeem
1 Nadeem

In [20]:
for i in range(12):
    if i % 3 == 0:
        continue 
    print(i, "Nadeem")

1 Nadeem
2 Nadeem
4 Nadeem
5 Nadeem
7 Nadeem
8 Nadeem
10 Nadeem
11 Nadeem

# Nested for Loop

In [21]:
for a in range(5):
    print("Inner Loop Begins")
    for char in "China":
        print(a, char)

Inner Loop Begins
0 C
0 h
0 i
0 n
0 a
Inner Loop Begins
1 C
1 h
1 i
1 n
1 a
Inner Loop Begins
2 C
2 h
2 i
2 n
2 a
Inner Loop Begins
3 C
3 h
3 i
3 n
3 a
Inner Loop Begins
4 C
4 h
4 i
4 n
4 a

In [24]:
tableNumber = int(input("Enter any Number you Want"))

for a in range(1, 11):
    print(f"{tableNumber} * {a} = {tableNumber * a}")

Enter any Number you Want7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [32]:
tables = int(input("Enter the range of number tables you Want"))

for table in range(2, tables+1):
    for num in range(1, 11):
        print(f"{table} * {num} = {table * num}")
    print("")

Enter the range of number tables you Want5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [34]:
chosen_letter = "b"
letter_list = ["a", "b", "c", "d", "e", "f"]
for a_letter in letter_list:
  if a_letter == chosen_letter:
    print(a_letter, "It's a match.")
    break

b It's a match.

In [35]:
outer_loop_total = 0
inner_loop_total = 0
countries = ["Albania", "Morocco", "Brazil", "Denmark"]
capitals = ["Tel Aviv", "Abuja", "Brasília", "Islamabad"]
for country_to_check in countries:
  outer_loop_total += 1
  for city_to_check in capitals:
    inner_loop_total += 1
    if country_to_check == "Brazil" and city_to_check == "Brasília":
      print(outer_loop_total + inner_loop_total)

14